
body {
    /* background-image: url('../images/shopping-list.jpg'); */
    background-size: cover;
    margin:auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 940px;
}

header {
    text-align: center;
    padding: 20px;
}


#container {
    margin: 5em auto;
    width: 600px;
    border-radius: 35px;
    text-align: left;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    text-align: center;
}

footer {
}

#instructions {
    margin-bottom: 15px;
}

#instructions li { 
    font-style: italic;
}

#list {
  margin-top: 10px;
  width: 400px;
}


#list a {
    float: right;
    color: red;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 3px;
}

#list input[type="checkbox"] {
    margin: 0px  10px;
}

#list li {
    line-height: 2;
    border: 1px  yellow dotted;
    background-color: yellow;
}

#list li:hover {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}   